<!--
<ion-view class="forgot-password-view auth-view" cache-view="false" style="background: url(img/bg-img.jpg) center; background-size: cover;">
  <ion-content scroll="false">
    <div class="row">
      <div class="col col-center">
        <div class="card forgot-password-container">
          <form name="forgot_password_form" class="" novalidate>
            <div class="item item-body">
              <label class="item item-input">
                <input type="email" placeholder="Email" name="user_email" ng-model="user.email" required>
              </label>
            </div>
            <div class="item item-body bottom-content">
              <button type="submit" class="button button-positive button-block" ng-click="recoverPassword()" ng-disabled="forgot_password_form.$invalid">
                Recover it
              </button>
            </div>
          </form>
        </div>
        <div class="alternative-actions">
          <a class="log-in button button-small button-clear button-light" ui-sref="auth.login">
            Log In
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
-->
<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 style="color: #fff;">Reset Password</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <form name="forgot_password_form" class="" novalidate>
                <input type="email" placeholder="Email" name="user_email" ng-model="user.email" style="border-bottom: 1px solid #eee; width: 100%;" required>
          </form>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
          <button type="submit" class="button button-positive button-block" ng-click="recoverPassword()" ng-disabled="forgot_password_form.$invalid">
                Recover It
          </button>
    </md-dialog-actions>
  </form>
</md-dialog>