<ion-view class="welcome-view" cache-view="false">
    <ion-content scroll="false" class="scroll-content ionic-scroll scroll-content-false login_backgroundimg" >
        <div class="top-content row">
            <div class="app-copy col col-center">
                <h1 class="app-logo"><img ng-src="img/Payizu.png" width="80%"></h1>
            </div>
        </div>
        <div class="bottom-content row" ng-hide="hideSocial_loginButton">
            <div class="col col-bottom">
                <!-- <a class="google-sign-in button button-block icon-left ion-social-google" ng-click="googleSignIn()">
                    <span class="btn-copy">Google</span>
                </a> -->
                <a class="facebook-sign-in button button-block icon-left ion-social-facebook" ng-click="facebookSignIn()">
                    <span class="btn-copy">Facebook</span>
                </a>
                <!-- <a class="google-sign-in button button-block icon-left" ng-click="logout()">
                    <span class="btn-copy">Logout</span>
                </a> -->
            </div>
        </div>
        <div class="row form-wrapper" ng-show="hideSocial_loginButton">
            <div class="col">
                <form name="authorizationForm" novalidate="" ng-submit="NewUser(authorizationForm.$valid)">
                    <div class="form-fields-outer list list-inset">
                        <label class="item item-input">
                            <input type="phone" placeholder="Mobile Number" name="Phone Number" ng-model="Login_Model.phonenumber" required class="ng-pristine ng-untouched ng-valid-phone ng-invalid ng-invalid-required">
                        </label>
                    </div>
                    <button type="submit" class="log-in button button-block" ng-disabled="authorizationForm.$invalid" disabled="disabled">
                        Submit
                    </button>
                    <p ng-show="error" class="message error ng-binding ng-hide" style=""></p>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>


