<style type="text/css">

.abc{
     color: #6CACD9;
}
.c11{
    width: 235px;
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    height: 80px;
}
.com{
  display: flex;
  margin-bottom: 0px;
}
.x2{
  margin-left: 0px;
  margin-top: 0px;
  font-size: 14px;
  color:#6CACD9;
}
hr{margin-bottom: 0px;
  display: block;
    margin-top: 2px;
    border: 0;
    border-top: 1px solid #e0ebeb;
    width: 230px;
    padding-bottom: 0;

}

</style>



<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar" >
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <!-- <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
            </ion-nav-buttons> -->
           <!--  <div class="buttons buttons-right header-item">
                    <span class="right-buttons">
                        <button class="button button-balanced button-fab">
                            <i class="icon ion-star" style="color:#fff"></i>
                        </button>
                    </span>
                </div> -->
        </ion-nav-bar>
         <!-- <button id="fab" class="button button-positive button-fab button-fab-bottom-right">
            <i class="icon ion-social-twitter" style="color: #fff"></i>
        </button> --> 
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" >
    <div class="myclass">
        <ion-header-bar class="expanded " nav-clear ng-click="toggleLeft()" ui-sref="app.profile">
        
            <img ng-src="img/avatar.jpg" class="avatar motion spin fade" style="margin-left:30%;"><br><br>
            <div class="menu-bottom" style="margin-left:30%">
                <span style="color: #fff;">{{UserName}}</span><br>
                <span style="color: #fff">{{userMobileNo}}</span>
             
            </div>
            
        </ion-header-bar>
</div>
        <ion-content class="has-expanded-header" >
          <br>  <ion-list >
               <ion-item  native-transitions nav-clear menu-close ui-sref="app.home" >
                 
     <div class="com" >
   <div class="x1">
    <i class="icon "><img ng-src="img/homee.svg" width="19px"></i></div>
   
   <div class="x2"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Home</div>
  </div> 
             <hr>
                      </ion-item>
                
                <ion-item  ng-click="toggleWallet()" >
       <div class="com">
   <div class="x1">             
 <i class="icon icon-left"><img ng-src="img/smartphone-call.svg" width="25px" style="padding-right:5px;"></i>
 </div>
   <div class="x2">&nbsp;&nbsp; Recharge&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   <i class="icon"><img ng-src="{{isWalletShown ? 'img/substract.png' : 'img/plus.png'}}" style="color: {{isWalletShown? '#ff0000': '#000000'}} "></i>
                    </div>
                   </div> 
                 <hr>                      
                </ion-item>
                 
                <ion-item class="item-icon-left items" ng-show="isWalletShown" nav-clear ng-click="toggleLeft();toggleWallet();" ui-sref="app.mobile">
                    <h2 class="menu-text">&nbsp;&emsp;Mobile</h2>
                </ion-item>
                <ion-item class="item-icon-left items" ng-show="isWalletShown" nav-clear ng-click="toggleLeft();toggleWallet();" ui-sref="app.dth">
                    <h2 class="menu-text">&nbsp;&emsp;Dth</h2>
                </ion-item>
                <ion-item class="item-icon-left items" ng-show="isWalletShown" nav-clear ng-click="toggleLeft();toggleWallet();" ui-sref="app.electricity">
                    <h2 class="menu-text">&nbsp;&emsp;Gas</h2>
                </ion-item>
                <ion-item class="item-icon-left items" ng-show="isWalletShown" nav-clear ng-click="toggleLeft();toggleWallet();" ui-sref="app.datacard">
                    <h2 class="menu-text">&nbsp;&emsp;Data Card</h2>
                </ion-item>
                <ion-item class="item-icon-left items" ng-show="isWalletShown" nav-clear ng-click="toggleLeft();toggleWallet();" ui-sref="app.gas">
                    <h2 class="menu-text">&nbsp;&emsp;Electricity</h2>
                </ion-item>
                <ion-item class="item-icon-left items" ng-show="isWalletShown" nav-clear ng-click="toggleLeft();toggleWallet();" ui-sref="app.insurance">
                    <h2 class="menu-text">&nbsp;&emsp;Insurance</h2>
                </ion-item>
              <ion-item  ng-click="toggleTransaction()" >
                    
   <div class="com">
   <div class="x1">
   <i class="icon icon-left ">
    <img ng-src="img/search.svg" width="23px" ></i></div>
    <div class="x2">&nbsp;&nbsp;
     Transaction &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<i class="icon ion-right"><img ng-src="{{isTransactionShown ? 'img/substract.png' : 'img/plus.png'}}"></i>

          </div></div>
          <hr>       
                </ion-item>

               <!-- <ion-item  native-transitions nav-clear menu-close ui-sref="app.rechargereport">
                 
                  <div class="card c11" >
  <div class="item item-text-wrap">
   <a href="#" class="item item-icon-left">
    <i class="icon "><img ng-src="img/search.png" width="40%"></i>
   &nbsp;&nbsp; Transactions 
  </a>

  </div>
</div>
                              </ion-item>-->
                
                <ion-item class="item-icon-left items" native-transitions ng-show="isTransactionShown" nav-clear ng-click="toggleLeft();toggleTransaction();" ui-sref="app.rechargereport">
                    <h2 class="menu-text" >&nbsp;&emsp;Recharge Report</h2>
                </ion-item>
                             <ion-item   native-transitions nav-clear menu-close >
                   <div class="com">
                <div class="x1">
               <i class="icon "><img ng-src="img/lock.svg" width="24px;"></i></div>
                <div class="x2">&nbsp;&nbsp;
                 Logout
                        </div></div>
                        <hr>              
                </ion-item>
                          
                
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
