<ion-view class="home" view-title="Home" hide-back-button="true" cache-view="false">

    <style media="screen">
    .slider-pager {
        display: none;
    }
    </style>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-bell" ui-sref="app.notifications"  badge="3" badge style="badge-assertive"></button> 
    </ion-nav-buttons>

    <ion-content overflow-scroll='true'>
        <!-- Sliding of Home Page Images Starts from here -->
        <ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="true" auto-play="true" id="home_slider" style="height: 230px;">
            <ion-slide style="background-color: transparent;">
              
                <div class="back">
                  <div class="list card">
                    <img src="img/paybills.png" alt="Norway" class="polaroid" >
                   </div> 
                </div>
                
            
            </ion-slide>
            <ion-slide style="background-color: transparent; ">
            
               <md-card  md-theme-watch style="background-color:rgba(241, 67, 63, 0.9); margin-top:20px;height:200px">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Your all in one app</span>
            <span class="md-subhead">Pay your bills,recharge,secure money transfer, get benefits</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media"><img src="img/phone2.png" style="margin-top:20px"></div>
          </md-card-title-media>
        </md-card-title>
        
      </md-card>
               
            </ion-slide>
            <ion-slide style="background-color: transparent; ">
             <div class="back">
                  <div class="list card" style="background-color:rgb(57, 50, 94);">
                    <img src="img/recharge_tree.png" alt="Norway" width="200px">
                   </div> 
                </div>
            </ion-slide>
        </ion-slide-box>
          <div class="divider" style="margin-left: 20px;font-family:tahoma;  font-size:14px; letter-spacing: 0.2em; padding-top: 10px;color:#6CACD9;" >
<h5 style="color:#6CACD9;"><center>RECHARGE</center></h5> 
  </div>
        <div class="card">
  
  <div class="item item-text-wrap t1">
   <div class="row text-center">
  <div class="col ">
  <div class="options" native-transitions native-transitions-options="{type: 'flip', direction: 'up', duration:100} " ui-sref="app.mobile " style="font-size: 10px; cursor: pointer; color: #444; ">
    <img src="img/smartphone-call.svg" id="i1" width="10px" >
    <p style="font-family: tahoma;color:#8f8f8f">Mobile</p>
</div></div>
  <div class="col ">
  <div class="options" native-transitions native-transitions-options="{type: 'flip', direction: 'up', duration:100} " ui-sref="app.dth" style="font-size: 10px; cursor: pointer; color: #444; ">
     <img src="img/television.svg" id="i1" >
     <p style="font-family: tahoma;color: #8f8f8f">TV</p>
  </div>
</div>
  <div class="col ">
  <div class="opt" native-transitions native-transitions-options="{type: 'flip', direction: 'up', duration:100} " ui-sref="app.gas " style="font-size: 10px; cursor: pointer; color: #444; ">
    <img src="img/flame.svg" id="i1" >
    <p style="font-family: tahoma;color:#8f8f8f">Gas</p>
  </div>
</div>
</div>
<div class="line"></div>
<div class="row text-center">
  <div class="col ">
  <div class="options" native-transitions native-transitions-options="{type: 'flip', direction: 'up', duration:100} " ui-sref="app.electricity" style="font-size: 10px; cursor: pointer; color: #444; ">
     <img src="img/idea.svg" id="i1" >
     <p style="font-family: tahoma;color: #8f8f8f">Electricity</p>
  </div>
</div>
  <div class="col">
  <div class="options" native-transitions native-transitions-options="{type: 'flip', direction: 'up', duration:100} " ui-sref="app.insurance" style="font-size: 10px; cursor: pointer; color: #444; ">
    <img src="img/umbrella.svg" id="i1" >
    <p style="font-family: tahoma;color:#8f8f8f">Insurance</p>
  </div>
</div>
  <div class="col ">
     <img src="img/pay3.svg" id="i1" style="margin-top: 4px;">
     <div class="opt" native-transitions native-transitions-options="{type: 'flip', direction: 'up', duration:100} " ui-sref="app.datacard " style="font-size: 11px; cursor: pointer; color: #444; ">
     <p style="font-family: tahoma;color: #8f8f8f">Data Card</p>
  </div>
</div>
</div>
  </div>
 
</div>
        <!-- <div class="card " style="padding: 18px 0px; ">
            <div class="row text-center ">
                <div class="col col-33 " native-transitions native-transitions-options="{type: 'flip', direction: 'up', duration:100} " style="font-size: 10px; cursor: pointer; color: #444; " ui-sref="app.mobile "><img ng-src="img/iPhone-48.png " width="40% " height="40% " alt=" ">
                    <br/>Mobile</div>
                <div class="col col-33 " native-transitions style="font-size: 11px; cursor: pointer; color: #444; " ui-sref="app.dth "><img ng-src="img/TV-48.png " width="40% " height="40% " alt=" ">
                    <br/>DTH</div>
                <div class="col col-33 " style="font-size: 11px; cursor: pointer; color: #444; " ui-sref="app.electricity "><img ng-src="img/Greentech-48.png " width="40% " height="40% " alt=" ">
                    <br/>Electricity</div>
            </div>
        </div>
        
         <div class="card " style="padding: 18px 0px; ">
            <div class="row text-center ">
                <div class="col col-33 " native-transitions native-transitions-options="{type: 'flip', direction: 'up', duration:100} " style="font-size: 10px; cursor: pointer; color: #444; " ui-sref="app.gas "><img ng-src="img/Gas-48.png " width="40% " height="40% " alt=" ">
                    <br/>Gas</div>
                <div class="col col-33 " native-transitions style="font-size: 11px; cursor: pointer; color: #444; " ui-sref="app.datacard "><img ng-src="img/USB On-48.png " width="40% " height="40% " alt=" ">
                    <br/>Datacard</div>
                <div class="col col-33 " style="font-size: 11px; cursor: pointer; color: #444; " ui-sref="app.insurance "><img ng-src="img/Umbrella-48.png " width="40% " height="40% " alt=" ">
                    <br/>Insurance</div>
            </div>
        </div> -->
       <!--  <div class="row text-center clear " style="margin-top: -10%; ">
            <div class="col col-40 ">
                <div class="card "><img ng-src="img/showreport.svg " width="25% " alt=" " style="margin-top: 5%; "> <br/>Add
                </div>
            </div>
            <div class="col col-20 ">
            </div>
            <div class="col col-40 ">
                <div class="card "><img ng-src="img/showreport.svg " width="25% " alt=" " style="margin-top: 5%; "> <br/>Ok
                </div>
            </div>
        </div> -->


<div class="card">
  <div class="item item-text-wrap">
   
    <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/analytics.png">
      <h2 style="color:#6CACD9;margin-top:10px;">Transaction Report</h2>
      <p>Guidelines and complete details to your transactions.</p>
    </a>

</div>
  </div>
</div>
    </ion-content>
</ion-view>
