
<!-- <ion-modal-view class="offline-modal">
    <ion-content class="view-bg-color">
        <br><br><br> 
        <div class="text center" style="text-transform: uppercase;font-size: 20px;">You are offline please check internet connection and try again later.</div>
        <br>
        <br>
        <button type="button" class="button button-block button-assertive icon-right ion-gear-a" md-ink-ripple ng-click="GotoSetting()"> Go To Settings</button>
        
    </ion-content>
</ion-modal-view> -->

<ion-view cache-view="false">
        <ion-content class="view-bg-color">
         <div style="margin-top: 5em;
    text-align: center;" ">
                    <img ng-src="img/Payizu.png" width="72%">
                </div>
                <br><center><img ng-src="img/Offline-48.png" width="25%;" height="25%;"></center>
        <div class="text center" style="font-size: 20px;">You are offline please check internet connection and try again later.</div>
            <ion-list class="list-alternate">
                 <br>
        <br>
        <button type="button" class="button button-block button-assertive icon-right ion-gear-a" md-ink-ripple ng-click="GotoSetting()"> Go To Settings</button>
            </ion-list>
        </ion-content>
</ion-view>