.bar.bar-blue,
.tabs-blue {
    color: #ffffff;
   /* border-color: #304FFE;*/
    background-color: #304FFE;
    background-image: linear-gradient(0deg, #304FFE, #304FFE 50%, transparent 50%);
    color: #fff;
}

.bar.bar-blue .title {
    color: #fff;
}

.bar.bar-blue.bar-footer {
    background-image: linear-gradient(180deg, #304FFE, #304FFE 50%, transparent 50%);
}


.tabs-striped.tabs-blue .tabs {
    background-color: #304FFE;
    color: #fff;
    border-color: #304FFE;
}

.recharge-icon {
    background-color: #fff;
    background: url('../img/login.jpg') center;
    background-size: cover;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.white {
    color: #fff;
}

.center {
    text-align: center;
}

.button-stable2 {
    background-color: #4527A0;
    color: #fff;
}

.button-stable2:hover {
    background-color: #4527A0;
    color: #fff;
}

/*table tr td {
    color: #fff;
}*/

.button.ion-ios-search {
    font-size: 1px;
}

#home_slider {
    z-index: -1;
    height: 130px;
}

#home_content1 {
    z-index: 1;
    margin-top: 0px;
}

#home_content1_inside {
    padding: 9px;
}

.bar-header .title {
    line-height: 27px;
}

.loading {
    background-color: rgba(240, 50, 50, 0.7) !important;
}

.spinner.light svg {
    stroke: #fff !important;
    fill: #fff !important;
}

ion-item a:hover {
    text-decoration: none;
}

input[type="number"] {
    width: auto;
}

#ghj {
    border-color: #eee;
}

#ghj:focus {
    border-color: transparent;
}

#ghj:focusout {
    border-color: transparent;
}

.fieldColor {
    background-color: #F0F4C3;
}

.myPopup > .popup {
    border-radius: 5px !important;
    background-color: #f2baa9 !important;
}

.ChangePassword > .popup {
    border-radius: 10px !important;
    background-color: #f4ebe6 !important;
}


/*.inputborder {
    border-bottom-style: solid !important;
    border-bottom-color: rgb(63, 81, 181) !important;
    border-bottom: 2px;
}*/

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: rgb(63, 81, 181) !important;
}

md-input-container:not(.md-input-invalid) input:(:focus) {
    border-color: rgb(221, 44, 0)!important
}

md-input-container:not(.md-input-focused) {
    border-color: rgb(63, 81, 181) !important;
}

md-input-container:not(.md-input-has-value) input:not(:focus) {
    border-color: rgb(63, 81, 181) !important;
}


/*md-input-container:.md-input-has-value input:(:focus){
    border-bottom-color: rgb(63, 81, 181) !important;
}*/


/*.dateBox { border:1px #81b900 solid; }*/


/*.statusBox { border:1px #81b900 solid; }*/

.date {
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-family: 'open_sansregular', sans-serif;
    font-weight: 700;
    color: #304FFE;
    border: 1px #304FFE solid;
}

.font-b-18 {
    font-family: 'open_sansbold'!important;
    font-weight: normal!important;
    font-size: 18px!important;
}

.font-sb-12 {
    font-family: 'open_sanssemibold'!important;
    font-weight: normal!important;
    font-size: 12px!important;
    color: #333;
}

.mnt {
    font-family: 'open_sansregular', sans-serif;
    font-weight: 400;
    background: #304FFE;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    border: 1px #304FFE solid;
}

.beneAcc {
    font-family: 'open_sanssemibold'!important;
    font-weight: normal!important;
    font-size: 12px!important;
    color: #333;
    text-transform: uppercase;
}

.qucInfoBox {
    float: left;
    width: 75%;
    padding: 0 10px
}

.clear {
    clear: both;
    overflow: auto;
}

.textBox {
    color: #333;
    font-size: 12px;
    line-height: 16px;
}

.font-r-14 {
    font-family: 'open_sansregular'!important;
    font-weight: normal!important;
    font-size: 14px!important;
}

.offline-modal {
    top: 0%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.view-bg-color {
    background-color: #e9eaed;
}


/* Fix modal backdrop for smaller devices */


/*@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5; }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0; } }*/

.wallet1 h2 {
    text-transform: uppercase;
    text-align: center;
}

.wallet2 h2 {
    text-transform: uppercase;
    text-align: center;
}

.wallet1 h3 {
    text-transform: uppercase;
    text-align: center;
    color: #35a8df;
}

.wallet2 h3 {
    text-transform: uppercase;
    text-align: center;
    color: #83bb36;
}

.moneyBox {
    font-family: 'open_sansregular';
    margin: 10px 0;
}

.moneyBox h2 {
    font-family: 'open_sansregular';
    font-size: 12px;
    color: #666666;
    margin: 5px;
}

.moneyBox h3 {
    font-family: 'open_sansregular';
    font-size: 24px;
    margin: 5px
}

.moneyBox:first-of-type {
    border-right: 1px solid #cccccc;
}

.font-b-18 {
    font-family: 'open_sansbold'!important;
    font-weight: normal!important;
    font-size: 18px!important;
}

.font-sb-14 {
    font-family: 'open_sanssemibold'!important;
    font-weight: normal!important;
    font-size: 14px!important;
}

.ion-nifty-modal {
    width: 90%;
    min-height: 0 !important;
    height: 300px !important;
    top: 25%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    background-color: transparent;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.ion-nifty-modal .ion-modal-content-custom {
    width: 100%;
    height: 100%;
    color: #FFF;
    background-color: #FFF;
    border-radius: 10px;
}
/* Empty. Add your own CSS if you like */

ion-slide:nth-child(odd) {
    background-color: #00e9d5;
    color: #FFF
}

ion-slide:nth-child(even) {
    background-color: #ae75e7;
    color: #FFF
}

ion-slide .main-title {
    margin: 35px 20px 20px;
    font-size: 2rem;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    color: #FFF
}

ion-slide .intro-text {
    margin: 0 5%;
    font-size: 1rem;
    line-height: 1.2;
    text-align: center;
    color: #FFF
}

ion-slide .intro-image-row {
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    margin-top: 16vh
}

.welcome-view .top-content {
    height: 40%;
}

.welcome-view .top-content .app-copy {
    text-align: center;
    padding-top: 10vh
}

.welcome-view .top-content .app-logo {
    font-size: 50px;
    font-family: cursive;
    font-weight: 600;
    font-style: italic;
    color: #FFF;
    margin: 6px -6px 6px 6px;
}

.welcome-view .bottom-content {
    height: 40%;
}

.welcome-view .bottom-content .facebook-sign-in,.welcome-view .bottom-content .google-sign-in,.welcome-view .bottom-content .twitter-sign-in {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
}

.welcome-view .bottom-content .facebook-sign-in:before,.welcome-view .bottom-content .google-sign-in:before,.welcome-view .bottom-content .twitter-sign-in:before {
    width: 30px;
    text-align: center;
    font-size: 32px
}

.welcome-view .bottom-content .facebook-sign-in .btn-copy,.welcome-view .bottom-content .google-sign-in .btn-copy,.welcome-view .bottom-content .twitter-sign-in .btn-copy {
    margin-left: -30px
}

.welcome-view .bottom-content .google-sign-in {
    background-color: #dd4c39;
    border-color: rgba(220,68,48,.9)
}

.welcome-view .bottom-content .facebook-sign-in {
    background-color: #294886;
    border-color: rgba(39,68,126,.9)
}

.form-wrapper .log-in.button,.auth-view .form-wrapper .sign-up.button {
    background-color: #ff5a60;
    color: #FFF;
    border-color: #ff5056;
    font-weight: 500
}

.form-wrapper input::-webkit-input-placeholder {
    color: #b3b3b3
}

.form-wrapper input::-moz-placeholder {
    color: #b3b3b3
}

 .form-wrapper input:-moz-placeholder {
    color: #b3b3b3
}

.form-wrapper input:-ms-input-placeholder {
    color: #b3b3b3
}

.form-fields-outer {
    margin: 0;
    padding: 0 16px
}

 .form-fields-outer .item-input {
    padding-left: 0;
    padding-right: 0;
    border-left: none;
    border-right: none
}

.message {
    text-align: center;
    color: #fff
}

.message.error:before {
    content: '*';
    color: #ff5a60;
    text-shadow: 1px 1px 0 rgba(243,0,9,.3);
    margin-right: 5px;
    font-size: 20px
}

.show-hide-input {
    display: inherit;
    width: 100%
}
.list {
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
    margin-bottom: 20px
}
 .slider {
    height: 100vh;
    width: auto;
}

.slider-slide {
    height: 100vh;
    width: auto;
   /* padding-top: 80px;*/
    color: #000;
    background-color: #fff;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}


.login_backgroundimg{
 background: url(../img/bg1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


 .user-interactions .split-actions {
    padding: 0;
    padding-top: 5px
}

.user-interactions .split-actions .button {
    margin: 0;
    border-radius: 5px;
    /*background-color: rgba(255,204,204,.5);
    border-color: rgba(255,204,204,.7);*/
    min-height: 40px;
    line-height: 40px;
    font-weight: 600;
    color: #FF4C4C
}

 .user-interactions .split-actions .button.activated,.profile-view .user-interactions .split-actions .button.highlighted {
    background-color: #387ef5;
    border-color: #0c60ee;
    color: #FFF
}

 .user-interactions .split-actions .col {
    padding-top: 0;
    padding-bottom: 0
}

.user-interactions .split-actions .col:first-child {
    padding-left: 0
}

.user-interactions .split-actions .col:last-child {
    padding-right: 0
}


.user-interactions .user-interaction {
    margin: 5px 0 0 0;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px
}

.user-interactions .user-interaction .user-interaction-tab {
    text-decoration: none;
    color: #387ef5
}

.user-interactions .user-interaction:first-child {
    border-right: 2px solid #6b46e5;
    padding-right: 3px
}


.user-related-content {
    background-color: #FFF;
    margin-top: 0;
    position: relative;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0
}

.user-related-content-item {
    padding: 0
}


.plans-modal{top: 10%;right: 5%;bottom: 10%;left: 5%;min-height: 240px;width: 90%;border-radius: 8px;-webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);background-color: transparent;}
.plans-modal-content{background-color: #f7f7f7;}
.plans-modal .slider-slide h3{color:rgba(0,0,0,0.87);margin-top:10px;}
.plans-modal .scroll{ text-align: left; background-color: #eee;}
.plans-modal .tabbed-slidebox .tsb-icons:after{display:none;}

.plans-modal .tsb-hscroll .scroll{
    transform: translate3d(0px, 0px, 0px) scale(1);
    -ms-transform: translate3d(0px, 0px, 0px) scale(1);
    -webkit-transform: translate3d(0px, 0px, 0px) scale(1);
    background-color: #fff;
    display: table;
    width: 100%;
}
.plans-modal .tabbed-slidebox .tsb-icons .scroll a.active {
    font-size: 1em;
    border-bottom: 3px solid #36A8E0;
}
.plans-modal .tabbed-slidebox .tsb-icons .scroll a {
    width: auto;
    font-size: 1em;
    overflow-x: hidden;
    line-height: 1.5em;
    text-decoration: none;
    padding: 7px 15px;
    border-bottom: 3px solid transparent;
}
.plans-modal .tabbed-slidebox .tsb-icons a.active {
    color: rgb(54, 168, 224);
    font-size: 3.5em;
    transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

.plans-modal .tabbed-slidebox .tsb-icons a {
    display: table-cell;
    width: 1%;
    font-size: 2.5em;
    color: #444;
    transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);     
    font-weight: normal;
    text-align: center;
}
.rech-validity-popup{font-size: 9px;}
.plans-modal .slider .scroll{-webkit-overflow-scrolling: touch;}
.plans-modal .slider{
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
}
.plans-modal .tabbed-slidebox .slider {height: inherit;}

    

.image {
     height: 12vw; 
     width: 12vw; 
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
} 

.addbenemodal{top: 10%;right: 5%;bottom: 10%;left: 5%;min-height: 240px;width: 90%;border-radius: 8px;-webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);background-color: transparent;}
.addbenemodal-content{background-color: #fff;}

/*p{
    font-size: 3px;
    padding:10px; 
    font-family: robotics;
    color: rgba(0, 0, 0, 0.9);
  }*/
  #i1{
    width: 40%;
  }
  .options{
    border-right: 1px solid #d1e0e0;
  }
  .line{
    border-bottom: 1px solid #d1e0e0;
  }
  .t1{
    padding-right:10px; 
     padding-left:10px; 
  }

  .divider{
    margin-left: 20px;font-family:robotics;  font-size:14px; letter-spacing: 0.2em; padding-top: 0px;
  }
  .back{
  background-repeat: no-repeat;
  background-size: cover;     
  }
  .polaroid {
  width: 100%;
  height: 220px;
  /*box-shadow: 0px 4px 20px 0px #888844, 2px 4px 20px 2px #888844 ;*/
/*margin-top: 20px;
padding-bottom: 5px;*/

}